force-app/main/default/flows/Create_UAT_Feedback_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Single_Content_Document_Link_to_Collection</name>
        <label>Add Single Content Document Link to Collection</label>
        <locationX>327</locationX>
        <locationY>1264</locationY>
        <assignmentItems>
            <assignToReference>varContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Content_Document_Link</name>
        <label>Assign Single Content Document Link</label>
        <locationX>627</locationX>
        <locationY>1260</locationY>
        <assignmentItems>
            <assignToReference>varContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Content_Document_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newUATFeedback.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Content_Document_Link_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>504</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>newUATFeedback.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.SubmittedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.RecordURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pageReferenceInfo.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.ObjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pageReferenceInfo.objectApiName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.PageReferenceInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pageReferenceInfo.jsonInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.Steps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Steps.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.ExpectedBehavior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.Actual_Behavior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_UAT_Feedback_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_files</name>
        <label>Are there files?</label>
        <locationX>472</locationX>
        <locationY>912</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESfiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputFileUpload.contentDocumentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Content_Document_Ids</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceUATStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>UAT_Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create UAT Feedback Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create UAT Feedback Item</label>
    <loops>
        <name>Loop_Content_Document_Ids</name>
        <label>Loop Content Document Ids</label>
        <locationX>483</locationX>
        <locationY>1072</locationY>
        <collectionReference>inputFileUpload.contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Links</name>
        <label>Create Content Document Links</label>
        <locationX>761</locationX>
        <locationY>1084</locationY>
        <inputReference>varContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_UAT_Feedback_Item</name>
        <label>Create UAT Feedback Item</label>
        <locationX>657</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>Are_there_files</targetReference>
        </connector>
        <inputReference>newUATFeedback</inputReference>
    </recordCreates>
    <screens>
        <name>New_UAT_Feedback_Item</name>
        <label>New UAT Feedback Item</label>
        <locationX>444</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>choiceUATStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Expected Behavior</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter the expected behavior</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Actual</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Actual Behavior</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter the actual behavior</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Steps</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Steps to recreate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter the steps to recreate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputFileUpload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add a screenshot, recording, or any other file</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>pageReferenceInfo</name>
            <extensionName>c:currentPageReferenceInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_UAT_Feedback_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newUATFeedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UAT_Feedback__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
