force-app/main/default/flows/Create_UAT_Feedback_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>504</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>newUATFeedback.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.Steps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Steps_to_recreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.SubmittedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.RecordURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pageReferenceInfo.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.ObjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pageReferenceInfo.objectApiName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUATFeedback.PageReferenceInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pageReferenceInfo.jsonInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_UAT_Feedback_Item</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>choiceUATStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>UAT_Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create UAT Feedback Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create UAT Feedback Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_UAT_Feedback_Item</name>
        <label>Create UAT Feedback Item</label>
        <locationX>657</locationX>
        <locationY>779</locationY>
        <inputReference>newUATFeedback</inputReference>
    </recordCreates>
    <screens>
        <name>New_UAT_Feedback_Item</name>
        <label>New UAT Feedback Item</label>
        <locationX>444</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>choiceUATStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Steps_to_recreate</name>
            <fieldText>Steps to recreate</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pageReferenceInfo</name>
            <extensionName>c:currentPageReferenceInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_UAT_Feedback_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newUATFeedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UAT_Feedback__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
