force-app/main/default/flows/Perform_Test_Runs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_a_multiselect_value_to_a_collection</name>
        <label>Convert a multiselect value to a collection</label>
        <locationX>256</locationX>
        <locationY>708</locationY>
        <actionName>multiselectToCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopTestCaseIds</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>inputTestCases</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varTestCaseIds</assignToReference>
            <name>value</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Single_Test_Run_Case_to_Collection</name>
        <label>Add Single Test Run Case to Collection</label>
        <locationX>50</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>varTestRunCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTestRunCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTestCaseIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Test_Run_Case</name>
        <label>Assign Single Test Run Case</label>
        <locationX>50</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>varTestRunCase.TestCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTestCaseIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestRunCase.TestRun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTestRun</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Test_Run_Case_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCreateTestRun</name>
        <choiceText>Create a Test Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStartTestRun</name>
        <choiceText>Start a Test Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>start</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_the_User_have_permission_to_Create_Test_Run_Cases_in_Flow</name>
        <label>Does the User have permission to Create Test Run Cases in Flow</label>
        <locationX>821</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YEScreateTestRunCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxCanCreateTestRunCasesinFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Test_Cases_or_perform_your_Test_Run</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_do_you_want_to_do</name>
        <label>What do you want to do?</label>
        <locationX>706</locationX>
        <locationY>565</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Create_Test_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWhatToDo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Test_Cases</targetReference>
            </connector>
            <label>Create a Test Run</label>
        </rules>
        <rules>
            <name>Start_a_Test_Ryn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWhatToDo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>start</stringValue>
                </rightValue>
            </conditions>
            <label>Start a Test Run</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceTestCases</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TestCase__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fxCanCreateTestRunCasesinFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Create_Test_Run_Cases_in_Flow}</expression>
    </formulas>
    <interviewLabel>Perform Test Runs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perform Test Runs</label>
    <loops>
        <name>loopTestCaseIds</name>
        <label>Loop Test Case Ids</label>
        <locationX>252</locationX>
        <locationY>432</locationY>
        <collectionReference>varTestCaseIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Test_Run_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Test_Run_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Test_Run_Cases</name>
        <label>Create Test Run Cases</label>
        <locationX>497</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Create_Test_Cases_or_perform_your_Test_Run</targetReference>
        </connector>
        <inputReference>varTestRunCases</inputReference>
    </recordCreates>
    <recordCreates>
        <name>varTestRun</name>
        <label>Create Test Run</label>
        <locationX>400</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Convert_a_multiselect_value_to_a_collection</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>inputOwnerTestRun.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>TestRun__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Test_Cases_or_perform_your_Test_Run</name>
        <label>Create Test Cases or perform your Test Run</label>
        <locationX>705</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_do_you_want_to_do</targetReference>
        </connector>
        <fields>
            <name>inputWhatToDo</name>
            <choiceReferences>choiceCreateTestRun</choiceReferences>
            <choiceReferences>choiceStartTestRun</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Test_Cases</name>
        <label>Select Test Cases</label>
        <locationX>539</locationX>
        <locationY>707</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>varTestRun</targetReference>
        </connector>
        <fields>
            <name>inputOwnerTestRun</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Tester__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who is assigned to Run the Test Cases?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>TestRun__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputTestCases</name>
            <choiceReferences>choiceTestCases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Test Cases for the Test Run</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>703</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Does_the_User_have_permission_to_Create_Test_Run_Cases_in_Flow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varTestCaseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTestRunCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestRunCase__c</objectType>
    </variables>
    <variables>
        <name>varTestRunCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestRunCase__c</objectType>
    </variables>
</Flow>
