force-app/main/default/flows/Perform_Test_Runs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_a_multiselect_value_to_a_collection</name>
        <label>Convert a multiselect value to a collection</label>
        <locationX>456</locationX>
        <locationY>708</locationY>
        <actionName>multiselectToCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clear_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>inputTestCases</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varTestCaseIds</assignToReference>
            <name>value</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Test_Run</name>
        <label>Navigate to Test Run</label>
        <locationX>1290</locationX>
        <locationY>664</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>varTestRun_checkForNull</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>inputTestRun</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Start_URL</name>
        <label>Redirect to Start URL</label>
        <locationX>1395</locationX>
        <locationY>1632</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Test_Case_Run_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varTestCase.StartRecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Single_Test_Run_Case_to_Collection</name>
        <label>Add Single Test Run Case to Collection</label>
        <locationX>250</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>varTestRunCases_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTestRunCase_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTestCaseIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Test_Run_Case</name>
        <label>Assign Single Test Run Case</label>
        <locationX>50</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>varTestRunCase_Create.TestCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTestCaseIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestRunCase_Create.TestRun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTestRun</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestRunCase_Create.RunOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTestRunCaseCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Test_Run_Case_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Variables</name>
        <label>Clear Variables</label>
        <locationX>452</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>varTestRunCaseCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTestCaseIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_of_Loop_Reset_1</name>
        <label>End of Loop Reset</label>
        <locationX>780</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>varTestRunConfirmation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestRunCases_Create</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Cases_or_perform_your_Test_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_of_Loop_Reset_2</name>
        <label>End of Loop Reset</label>
        <locationX>1358</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>varTestRunCases_Start</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_Test_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_Case_Run_Counter_1</name>
        <label>Test Case Run Counter +1</label>
        <locationX>248</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>varTestRunCaseCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Test_Run_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCreateTestRun</name>
        <choiceText>Create a Test Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStartTestRun</name>
        <choiceText>Start a Test Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>start</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_the_User_have_permission_to_Create_Test_Run_Cases_in_Flow</name>
        <label>Does the User have permission to Create Test Run Cases in Flow</label>
        <locationX>1021</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>varTestRun_checkForNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YEScreateTestRunCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxCanCreateTestRunCasesinFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Test_Cases_or_perform_your_Test_Run</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Start_Record_Id</name>
        <label>Is there a Start Record Id?</label>
        <locationX>1302</locationX>
        <locationY>1426</locationY>
        <defaultConnector>
            <targetReference>Test_Case_Run_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESstartRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTestCase.StartRecordId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_to_Start_URL</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_at_least_one_Test_Run_record</name>
        <label>Is there at least one Test Run record?</label>
        <locationX>1152</locationX>
        <locationY>987</locationY>
        <defaultConnectorLabel>END FLOW</defaultConnectorLabel>
        <rules>
            <name>YESoneTestRunRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTestRun_checkForNull</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varTestRunCases_Start</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_do_you_want_to_do</name>
        <label>What do you want to do?</label>
        <locationX>897</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Create_Test_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWhatToDo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Test_Cases</targetReference>
            </connector>
            <label>Create a Test Run</label>
        </rules>
        <rules>
            <name>Start_a_Test_Ryn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWhatToDo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varTestRun_checkForNull</targetReference>
            </connector>
            <label>Start a Test Run</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceTestCases</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </filters>
        <limit>200</limit>
        <object>TestCase__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceTestRuns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tester__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </filters>
        <object>TestRun__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pklstResult</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result__c</picklistField>
        <picklistObject>TestRunCase__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fxCanCreateTestRunCasesinFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Create_Test_Run_Cases_in_Flow}</expression>
    </formulas>
    <formulas>
        <name>fxFileUploadUniqueId</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid}&amp;{!loopTestRunCases.Id}</expression>
    </formulas>
    <interviewLabel>Perform Test Runs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perform Test Runs</label>
    <loops>
        <name>loopTestCaseIds</name>
        <label>Loop Test Case Ids</label>
        <locationX>452</locationX>
        <locationY>432</locationY>
        <collectionReference>varTestCaseIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Test_Case_Run_Counter_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Test_Run_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTestRunCases</name>
        <label>Loop Test Run Cases</label>
        <locationX>1163</locationX>
        <locationY>1256</locationY>
        <collectionReference>varTestRunCases_Start</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>varTestCase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Test_Run</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Test_Run_Cases</name>
        <label>Create Test Run Cases</label>
        <locationX>641</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>End_of_Loop_Reset_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varTestRunCases_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>varTestRun</name>
        <label>Create Test Run</label>
        <locationX>600</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Convert_a_multiselect_value_to_a_collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Tester__c</field>
            <value>
                <elementReference>inputTester.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>TestRun__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>varTestCase</name>
        <label>Get Test Case</label>
        <locationX>1398</locationX>
        <locationY>1317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Start_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopTestRunCases.TestCase__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestCase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>varTestRun_checkForNull</name>
        <label>Get Test Run</label>
        <locationX>1159</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Test_Runs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tester__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestRun__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>varTestRunCases_Start</name>
        <label>Get Test Run Cases</label>
        <locationX>1160</locationX>
        <locationY>1131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopTestRunCases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TestRun__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTestRun</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TestRunCase__c</object>
        <sortField>RunOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the test case with the most recent run results.</description>
        <name>Update_Test_Case</name>
        <label>Update Test Case</label>
        <locationX>1055</locationX>
        <locationY>1381</locationY>
        <connector>
            <targetReference>loopTestRunCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopTestRunCases.TestCase__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Run_Result__c</field>
            <value>
                <elementReference>inputActualResult</elementReference>
            </value>
        </inputAssignments>
        <object>TestCase__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Run</name>
        <label>Update Test Run</label>
        <locationX>1483</locationX>
        <locationY>1020</locationY>
        <connector>
            <targetReference>End_of_Loop_Reset_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTestRun</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>TestRun__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Run_Case</name>
        <label>Update Test Run Case</label>
        <locationX>1021</locationX>
        <locationY>1485</locationY>
        <connector>
            <targetReference>Update_Test_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopTestRunCases.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>inputComments.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>inputActualResult</elementReference>
            </value>
        </inputAssignments>
        <object>TestRunCase__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Test_Cases_or_perform_your_Test_Run</name>
        <label>Create Test Cases or perform your Test Run</label>
        <locationX>905</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_do_you_want_to_do</targetReference>
        </connector>
        <fields>
            <name>pTestRunCreated</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(41, 169, 13);&quot;&gt;Test Run Created&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varTestRunConfirmation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputWhatToDo</name>
            <choiceReferences>choiceCreateTestRun</choiceReferences>
            <choiceReferences>choiceStartTestRun</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>481</locationX>
        <locationY>1181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>h2WeHitASang</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;We hit a snag... &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;😳&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pfaultMessage</name>
            <fieldText>&lt;p&gt;Would you mind screenshot-ing this, and sending it to either Kicksaw or your System Administrator?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date - {!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;UserId - {!$User.Id}&lt;/p&gt;&lt;p&gt;Message - {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Test_Cases</name>
        <label>Select Test Cases</label>
        <locationX>739</locationX>
        <locationY>707</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>varTestRun</targetReference>
        </connector>
        <fields>
            <name>inputTester</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Tester__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who is assigned to the Test Run?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>TestRun__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputTestCases</name>
            <choiceReferences>choiceTestCases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Test Cases for the Test Run</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Test_Runs</name>
        <label>Select Test Runs</label>
        <locationX>1159</locationX>
        <locationY>839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_at_least_one_Test_Run_record</targetReference>
        </connector>
        <fields>
            <name>pNoMoreTestRuns</name>
            <fieldText>&lt;p&gt;You have completed all of your Test Runs!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varTestRun_checkForNull.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputTestRun</name>
            <choiceReferences>choiceTestRuns</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Test Run</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varTestRun_checkForNull.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Case_Run_Screen</name>
        <label>Test Case Run Screen</label>
        <locationX>1226</locationX>
        <locationY>1640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Test_Run_Case</targetReference>
        </connector>
        <fields>
            <name>h2Description</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!varTestCase.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pStepsToComplete</name>
            <fieldText>&lt;p&gt;&lt;i&gt;&lt;u&gt;Steps to Complete&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;{!varTestCase.StepstoComplete__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pExpectedResult</name>
            <fieldText>&lt;p&gt;&lt;i&gt;&lt;u&gt;Expected Result&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;{!varTestCase.ExpectedResult__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputActualResult</name>
            <choiceReferences>pklstResult</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Actual Result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputComments</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Comments</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputFileUpload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>fxFileUploadUniqueId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add a screenshot, recording, or any other file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>loopTestRunCases.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>903</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Does_the_User_have_permission_to_Create_Test_Run_Cases_in_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varTestCaseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTestRunCase_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestRunCase__c</objectType>
    </variables>
    <variables>
        <name>varTestRunCaseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTestRunCases_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestRunCase__c</objectType>
    </variables>
    <variables>
        <name>varTestRunConfirmation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
