force-app/main/default/flows/Rerun_Failed_Test_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>598</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>colTestCaseRuns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTestRunCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Failed_Test_Run_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Variables</name>
        <label>Assign Updated Variables</label>
        <locationX>832</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>varTestRunCase.TestRun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewTestRun</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestRunCase.TestCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Failed_Test_Run_Cases.TestCase__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Failed_Test_Runs_Found</name>
        <label>Failed Test Runs Found?</label>
        <locationX>619</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Create_New_Test_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Failed_Test_Runs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Failed_Test_Case_Runs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Failed_Test_Cases_Found</targetReference>
            </connector>
            <label>Yes - Failed Test Runs Found</label>
        </rules>
    </decisions>
    <interviewLabel>Rerun Failed Test Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rerun Failed Test Cases</label>
    <loops>
        <name>Loop_Through_Failed_Test_Run_Cases</name>
        <label>Loop Through Failed Test Run Cases</label>
        <locationX>536</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Failed_Test_Case_Runs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Updated_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Test_Run_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Test_Run</name>
        <label>Create New Test Run</label>
        <locationX>498</locationX>
        <locationY>343</locationY>
        <assignRecordIdToReference>varNewTestRun</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Through_Failed_Test_Run_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tester__c</field>
            <value>
                <elementReference>GetTestRun.Tester__c</elementReference>
            </value>
        </inputAssignments>
        <object>TestRun__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Test_Run_Cases</name>
        <label>Create New Test Run Cases</label>
        <locationX>308</locationX>
        <locationY>770</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>colTestCaseRuns</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Failed_Test_Case_Runs</name>
        <label>Get Failed Test Case Runs</label>
        <locationX>669</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Failed_Test_Runs_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TestRun__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TestRunCase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTestRun</name>
        <label>Get Test Run</label>
        <locationX>350</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Failed_Test_Case_Runs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestRun__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Failed_Test_Cases_Found</name>
        <label>No Failed Test Cases Found</label>
        <locationX>783</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dspNoFailedCases</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;There weren&apos;t any failed test runs found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>464</locationX>
        <locationY>933</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dspSuccess</name>
            <fieldText>&lt;p&gt;A new test run has been created with the failed test cases. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetTestRun</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colTestCaseRuns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestRunCase__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewTestRun</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTestRunCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestRunCase__c</objectType>
    </variables>
</Flow>
