force-app/main/default/flows/Screen_Flow_New_Test_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Test_Case_Variables</name>
        <label>Assign Test Case Variables</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varNewUATTestCase.ExpectedResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedResult.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewUATTestCase.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewUATTestCase.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewUATTestCase.StepstoComplete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stepsToComplete.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Case</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - New Test Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - New Test Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Test_Case</name>
        <label>Create Test Case</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>varNewUATTestCase</inputReference>
    </recordCreates>
    <screens>
        <name>New_Test_Case</name>
        <label>New Test Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Test_Case_Variables</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stepsToComplete</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Steps to Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>What are the steps to complete this? </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>expectedResult</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Expected Result</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>What is the expected result? </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Test_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varNewUATTestCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestCase__c</objectType>
    </variables>
</Flow>
