force-app/main/default/flows/Test_Run_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_New_Notification</name>
        <label>Send New Notification</label>
        <locationX>481</locationX>
        <locationY>875</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New Test Run</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A new test run has been assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Notification_0</name>
        <label>Send New Notification</label>
        <locationX>631</locationX>
        <locationY>926</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_New_Test_Run_Email_Alert_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New Test Run</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A new test run has been assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Test_Run_Email_Alert</name>
        <label>Send New Test Run Email Alert</label>
        <locationX>1026</locationX>
        <locationY>876</locationY>
        <actionName>TestRun__c.New_Test_Run_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Test_Run_Email_Alert_0</name>
        <label>Send New Test Run Email Alert</label>
        <locationX>817</locationX>
        <locationY>991</locationY>
        <actionName>TestRun__c.New_Test_Run_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Tester</name>
        <label>Add Tester</label>
        <locationX>481</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>varRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Tester__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_New_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tester_0</name>
        <label>Add Tester</label>
        <locationX>930</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>varRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Tester__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_New_Notification_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Test_Run</name>
        <label>New Test Run</label>
        <locationX>776</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Test_Run_App_Notifications</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_UAT_Settings.New_Test_Run_Notification_Settings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>App</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>New Test Run - App Notifications</label>
        </rules>
        <rules>
            <name>New_Test_Run_Email_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_UAT_Settings.New_Test_Run_Notification_Settings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Test_Run_Email_Alert</targetReference>
            </connector>
            <label>New Test Run - Email Alert</label>
        </rules>
        <rules>
            <name>New_Test_Run_Both_Alerts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_UAT_Settings.New_Test_Run_Notification_Settings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_0</targetReference>
            </connector>
            <label>New Test Run - Both Alerts</label>
        </rules>
    </decisions>
    <interviewLabel>Test Run - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Run - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>482</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Tester</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kicksaw_UAT_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_0</name>
        <label>Get Custom Notification</label>
        <locationX>735</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Tester_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kicksaw_UAT_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UAT_Settings</name>
        <label>Get UAT Settings</label>
        <locationX>777</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Test_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UAT_Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kicksaw_UAT_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_UAT_Settings</targetReference>
        </connector>
        <object>TestRun__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNotificationRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
